* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* NAVBAR */
.navbar {
  background: #ffffff;
  padding: 20px 0;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

/* DROPDOWN */
.has-dropdown {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #2770b5;
  list-style: none;
  min-width: 250px;
  display: none;
  padding: 8px 0;
}

.dropdown li a {
  display: block;
  padding: 10px 16px;
  color: #fff;
}

.dropdown li a:hover {
  background: #014a8e;
}

.has-dropdown:hover .dropdown {
  display: block;
}

/* BUTTONS */
.nav-buttons {
  display: flex;
  gap: 16px;
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-outline {
  color: #fff;
  background: #f18d42;
}

.btn-outline:hover {
  border: none;
  background: #ca5903;
  color: #ffffff;
}

.btn-primary {
  border: none;
  background: #2770b5;
  color: #fff;
}

.btn-primary:hover {
  background: #014a8e;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
  min-height: 90vh;
  background-image:
    linear-gradient(rgba(94, 86, 16, 0.8), rgba(96, 86, 2, 0.5)),
    url("/img/2151438321.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero-content {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.hero h3 {
  font-size: 40px;
  margin-bottom: 16px;
}

.hero h3 span {
  color: #f18d42;
}

.hero p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.hero-button {
  padding: 12px 100px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease;
  border: none;
  background: #2770b5;
  color: #fff;
}

.hero-button:hover {
  background: #014a8e;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #000;
  transition: 0.3s;
}
#menu-toggle:checked ~ nav {
  display: flex;
}

#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hamburger span {
  transition: all 0.3s ease;
}
.main-content {
  width: 100%;
  display: flex;
  padding: 80px 30px;
  gap: 50px;
}

.main1 {
  width: 100%;
}

.main1 img {
  width: 100%;
}

.img1 {
  padding-bottom: 20px;
}

.img2 {
  border-radius: 5px;
}

.main-heading {
  width: 100%;
}

.main-heading h2 {
  font-size: 33px;
  font-weight: 700;
}

.main-heading h2 span {
  color: #f18d42;
}

.main-heading p {
  padding: 10px 0 30px 0;
}

.main-primary {
  text-decoration: none;
  padding: 12px 24px;
  border: none;
  background: #2770b5;
  color: #fff;
}

.img3 {
  width: 100%;
  border-radius: 5px;
  margin-top: 30px;
}

.main-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.main-gallery img {
  width: 100%;
}

.sub-main {
  width: 100%;
  padding: 80px 30px;
  background: #053b00;
}

.pictures {
  width: 100%;
}

.pictures img {
  border-radius: 10px;
}

.pictures p {
  color: #fff;
  padding-top: 20px;
}

.locations {
  background: #e3e4e1;
}

.locations-content {
  width: 100%;
  display: flex;
  padding: 60px 30px;
  gap: 50px;
}

.map {
  width: 100%;
}

.map img {
  width: 100%;
}

.locations-heading {
  width: 35%;
}

.locations-heading h2 {
  font-size: 50px;
  max-width: 250px;
  font-weight: 700;
  padding-bottom: 50px;
}

.locations-heading h2 span {
  color: #f18d42;
}

.locations-primary {
  text-decoration: none;
  padding: 12px 60px;
  border: none;
  background: #2770b5;
  color: #fff;
  border-radius: 7px;
}

.countries {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 0 30px;
}

.countries-list {
  width: 100%;
  display: flex;
  border: 1.7px solid #014a8e;
  padding: 10px 15px;
  gap: 30px;
  border-radius: 6px;
  margin-bottom: 50px;
}

.countries-list img {
  width: 26%;
}

.countries-list p {
  justify-self: center;
  align-self: center;
}

.stories-content {
  padding: 50px 30px 25px 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stories-content h3 {
  margin: auto;
  font-size: 40px;
  max-width: 400px;
  font-weight: 700;
  padding-bottom: 20px;
}

.stories-content span {
  color: #2770b5;
}

.stories-content p {
  margin: auto;
  font-size: 16px;
  max-width: 800px;
}

.stories-gallery {
  padding: 0px 20px 20px 20px;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.image-gallery img {
  width: 100%;
  border-radius: 8px;
}

.explore-btn {
  text-decoration: none;
  padding: 15px 60px;
  border: none;
  background: #08a355;
  color: #fff;
  border-radius: 5px;
  margin: auto;
  font-weight: 500;
}

.article {
  width: 100%;
  padding: 30px 20px;
  text-align: center;
}

.article-buttons {
  display: flex;
  gap: 16px;
  padding: 30px 0;
  justify-content: center;
  font-weight: 600;
}

.article-outline {
  text-decoration: none;
  padding: 12px 100px;
  border: none;
  background: #f18d42;
  color: #fff;
  border-radius: 7px;
}

.article-primary {
  text-decoration: none;
  padding: 12px 100px;
  border: none;
  background: #2770b5;
  color: #fff;
  border-radius: 7px;
}

.article p {
  margin: auto;
}

.founder-bio {
  background: #e3e4e1;
}

.founder {
  width: 100%;
  display: flex;
  padding: 60px 30px;
  gap: 50px;
}

.group-photo {
  width: 100%;
}

.group-photo img {
  width: 450px;
  height: 350px;
  border-radius: 10px;
}

.founder-message {
  margin: auto;
}

.founder-message h3 {
  font-size: 40px;
  color: #2770b5;
  padding-bottom: 10px;
}

.founder-message p {
  line-height: 25px;
}

.cta-content {
  width: 100%;
  display: flex;
  padding: 80px 30px;
  justify-content: center;
}

.cta-form {
  width: 100%;
  padding: 0 20px 0 20px;
  margin: auto;
}

.cta-form h3 {
  font-size: 40px;
  padding-bottom: 20px;
}

.cta-form h3 span {
  color: #f18d42;
}

.cta-form p {
  max-width: 450px;
  padding-bottom: 20px;
}

.cta-form input {
  display: block;
  width: 85%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1.4px solid rgb(98, 98, 98);
  border-top: none;
  outline: none;
  background-color: #e5e5e5;
  font-family: "poppins";
  font-style: italic;
}

.cta-form textarea {
  display: block;
  width: 85%;
  margin-bottom: 15px;
  padding: 10px 0 120px 10px;
  border-radius: 5px;
  border: 1.4px solid rgb(98, 98, 98);
  border-top: none;
  outline: none;
  background-color: #e5e5e5;
  font-family: "poppins";
  font-style: italic;
  resize: none;
}

.form-btn {
  text-decoration: none;
  padding: 12px 70px;
  border: none;
  background: #2770b5;
  color: #fff;
  border-radius: 7px;
  font-family: "poppins";
  font-size: 14px;
  margin-bottom: 35px;
}

.social-icons ul li {
  list-style: none;
}

.social-icons ul li a {
  color: #f18d42;
  font-size: 25px;
}

.links {
  display: flex;
  gap: 20px;
}

.cta-offices {
  width: 100%;
}

.office-buildings {
  width: 100%;
  display: flex;
}

.office-images {
  width: 100%;
}

.office-images img {
  width: 90%;
  height: 300px;
  border-radius: 7px;
}

.offices-heading h3 {
  font-size: 30px;
  padding-bottom: 20px;
}

.offices-heading h3 span {
  color: #f18d42;
}

.office1 p {
  width: 100%;
  max-width: 250px;
}

.office2 p {
  width: 100%;
  max-width: 250px;
}

.addresses {
  padding-top: 20px;
}

.addresses p {
  line-height: 35px;
}

.addresses span {
  color: #2770b5;
  font-weight: 600;
}

footer {
  width: 100%;
  height: 60vh;
  background: #014a8e;
}

.footer-content {
  width: 100%;
  display: flex;
  padding: 40px 30px;
  gap: 100px;
}

.footer-text {
  width: 100%;
  font-size: 28px;
  padding-bottom: 10px;
  color: #fff;
  margin: auto;
}

.footer-text span {
  color: #f18d42;
}

.footer-image {
  width: 100%;
}

.footer-image img {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .nav-wrapper {
    position: relative;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    gap: 0;
    display: none;
    padding: 20px;
  }

  .nav-links li {
    padding: 10px 0;
  }

  .nav-buttons {
    display: none;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  #menu-toggle:checked ~ .nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: #ffffff;
  }

  .dropdown {
    position: static;
  }

  .has-dropdown:hover .dropdown {
    display: none;
  }

  .has-dropdown > a {
    display: block;
  }

  .hero {
    text-align: center;
    padding: 40px 10px;
    height: auto;
  }

  .hero h3 {
    font-size: 28px;
  }

  .hero-button {
    padding: 12px 40px;
  }

  .main-content {
    padding: 60px 10px;
    display: block;
  }

  .main-heading {
    padding-top: 20px;
  }

  .main-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .sub-main {
    width: 100%;
    padding: 80px 10px;
  }

  .locations-content {
    width: 100%;
    display: block;
    padding: 60px 10px;
    gap: 50px;
  }

  .locations-heading {
    width: 100%;
    text-align: center;
  }

  .locations-heading h2 {
    font-size: 45px;
    max-width: 100%;
    padding: 30px 0;
  }

  .locations-primary {
    padding: 12px 40px;
  }

  .countries {
    width: 100%;
    display: block;
    gap: 0px;
    padding: 0 10px 20px 10px;
  }

  .countries-list {
    width: 100%;
    display: flex;
    padding: 10px 15px;
    gap: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
  }

  .countries-list img {
    width: 25%;
  }

  .stories-content {
    width: 100%;
    padding: 50px 10px 50px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .stories-content h3 {
    margin: 0;
    text-align: center;
    font-size: 35px;
    max-width: 100%;
    font-weight: 700;
    padding-bottom: 20px;
  }

  .stories-content p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    max-width: 100%;
  }

  .stories-gallery {
    padding: 0px 10px 20px 10px;
  }

  .stories-gallery img {
    margin-bottom: 10px;
  }

  .image-gallery {
    width: 100%;
    display: block;
    gap: 0px;
  }

  .image-gallery img {
    width: 100%;
    border-radius: 8px;
  }

  .explore-btn {
    width: 100%;
    padding: 15px 80px;
  }

  .article {
    width: 100%;
    padding: 30px 10px;
    text-align: center;
  }

  .article-buttons {
    display: inline-block;
    padding: 30px 0;
    justify-content: center;
    font-weight: 600;
  }

  .article-outline {
    padding: 12px 30px;
  }

  .article-primary {
    padding: 12px 30px;
  }

  .article p {
    max-width: 100%;
    text-align: center;
  }

  #flood {
    margin-bottom: 30px;
  }

  .founder {
    width: 100%;
    display: block;
    padding: 60px 10px;
    gap: 0px;
  }

  .group-photo {
    width: 100%;
  }

  .group-photo img {
    width: 100%;
    height: 50%;
  }

  .founder-message {
    margin: 0;
  }

  .founder-message h3 {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .founder-message p {
    max-width: 100%;
  }

  .cta-content {
    display: block;
    padding: 60px 10px;
  }

  .cta-form {
    padding: 0 10px 0 10px;
    margin: 0;
  }

  .cta-form h3 {
    font-size: 28px;
    padding-bottom: 10px;
  }

  .cta-form p {
    font-size: 14px;
    max-width: 100%;
    padding-bottom: 30px;
  }

  .cta-form input {
    width: 100%;
  }

  .cta-form textarea {
    width: 100%;
  }

  .form-btn {
    width: 100%;
  }

  .social-icons ul li a {
    color: #f18d42;
    font-size: 25px;
    text-align: center;
  }

  .links {
    justify-content: center;
    align-content: center;
  }

  .office-buildings {
    display: block;
  }

  .office-images img {
    width: 100%;
  }

  .offices-heading h3 {
    font-size: 30px;
    padding: 50px 0 10px 0;
    text-align: center;
  }

  .office1 p {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .office2 p {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .addresses {
    padding-top: 20px;
  }

  .addresses p {
    line-height: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav-links {
    gap: 20px;
  }

  .hero h3 {
    font-size: 32px;
  }

  .hero-content {
    max-width: 500px;
  }
}
